<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Network</title>

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
    </style>
</head>
<body>
<div class="container">

    <div style="border: 1px solid orange; background-color: yellow; padding: 10px; margin: 10px 0 10px 0;">
        <label>WIFI SSID</label>
        <input value="{{ ssid }}"/>
        <br />
        <br />

        <label>Secure</label>
        <select>
            <option>None</option>
            <option>WAP2</option>
        </select>
        <br />

        <label>Password</label>
        <input value=""/>
        <input type="button" value="SAVE and RESTART WIFI"/>
    </div>

    <div style="border: 1px solid orange; padding: 10px; margin: 0 0 10px 0;">
        <label>WAN</label>
        <select>
            <option>PPPoE</option>
            <option>DHCP</option>
            <option>Static</option>
        </select>
        <br />

        <label>PPPoE Username</label>
        <input value=""/>

        <label>Password</label>
        <input value=""/>

        <input type="button" value="TEST PPPoE"/>
        <br />
        <br />

        <label>Static IP</label>
        <input value=""/>

        <label>Mask</label>
        <input value=""/>
        <input type="button" value="SAVE DHCP and RESTART NETWORK"/>
        <br />
        <br />

        <label>DHCP</label>
        <input type="button" value="RESTART NETWORK and GET IP by DHCP"/>

    </div>

    <div style="border: 1px solid orange; background-color: yellow; padding: 10px; margin: 0 0 10px 0;">
        <label>LAN IP Range</label>
        <select id="lan-ip-range">
            <option>192</option>
            <option>10</option>
        </select>
        <span class="ip192"> . 168 . </span><input class="ip192" value="1"/><span class="ip192"> . X</span>
        <span class="ip10 hide"> . </span><input class="ip10 hide" value="0"/><span class="ip10 hide"> . X . X</span>
        <br />
        <label>Mask</label>
        <span class="mask192">255 . 255 . 255 . 0</span>
        <span class="mask10 hide">255 . 255 . 0 . 0</span>
        <br />
        <input type="button" value="SAVE LAN SETTING"/>
    </div>

    <div style="border: 1px solid orange; padding: 10px; margin: 0 0 10px 0;">
    </div>
</div>
</body>

<script type="text/javascript" src="/static/js/underscore-1.5.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/js/coffee-script-1.6.3.min.js"></script>
<script type="text/coffeescript" src="/static/coffee/network.coffee"></script>

<script type="text/javascript" src="//localhost/static/js/detect.js"></script>

</html>
